<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <coverage>
        <include>
            <directory>./src/tests</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="PhpType Test Suite">
            <directory>./src/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
